<div class="content"  fxLayout="row" fxLayout.xs="row" fxFlexFill >
    <div class="header">
        <div fxFlex="35" class="searchPanel" fxFlex.xs="100">
            <input matTooltip="Search" type="search" class="searchBox">
            <mat-icon aria-hidden="false" aria-label="search icon" class="searchicon" >search</mat-icon>
        </div>
        <div fxFlex="65" class="controls" fxFlex.xs="0">
            <div fxLayout="row">
                <div class="controlbox"> 
                    <mat-icon matTooltip="Click here to toggle" class="iconcontrols" (click)="toggle()">menu_open</mat-icon>
                </div>
                <div class="controlbox">
                    <mat-icon matTooltip="Create new note" class="iconcontrols" (click)="createNewNote()">post_add</mat-icon>
                </div>
                <div class="controlbox"> 
                    <mat-icon matTooltip="Save" class="iconcontrols" (click)="saveNote()">done</mat-icon>
                </div>
                <div class="controlbox">
                    <mat-icon matTooltip="Delete" class="iconcontrols" (click)="deleteNote()">delete</mat-icon>
                </div>
                
              </div>
        </div>
    </div>
</div>

